<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2><%= @hogwarts_class.course.subject %>-<%= @hogwarts_class.course.section %>-<%= @hogwarts_class.section %>
        <%= @hogwarts_class.course.course_name %></h2>
        <h4>Professor: <%= @hogwarts_class.professor.full_name %></h4>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12 text-center">

      <% if @enrolled.count > 0 %>
        <h4>Class List</h4>
        <table class="table">
          <thead>
            <th scope="col">Student</th>
            <th scope="col">De-register</th>
          </thead>
          <% @enrolled.each do |student| %>
          <tr>
            <td><%=link_to(student_path(student)) do %><%= student.full_name %><% end %></td>
            <td>
              <form method="POST" action="deregister">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <%= hidden_field_tag :class_id, @hogwarts_class.id %>
                <%= hidden_field_tag :student_id, student.id %>
                <button type='submit' class='btn-link'><i class="fas fa-trash"></i></button>
              </form>
          </td>
          </tr>
          <% end %>
        </table>
        <% else %>
        There are no students registered for this class yet.
        <br/>
        <%=link_to(registrations_path(), class: "btn btn-main") do %>
          Add one
        <% end %>
        <% end %>
        <%=link_to(hogwarts_classes_path(), class: "btn btn-main") do %>
          Return to courses
        <% end %>
        <%=link_to(registrations_path(), class: "btn btn-main") do %>
          Return to registration
        <% end %>
    </div>
  </div>
</div>
