<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Students</h2>
      <table class="table sortable">
        <thead>
          <tr>
            <th scope="col">House</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col" class="sorttable_nosort">View</th>
            <th scope="col" class="sorttable_nosort">Edit</th>
            <th scope="col" class="sorttable_nosort">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @students.each do |student| %>
          <tr>
            <td>
              <div class='<%= student.house.downcase %>-icon house-icon'></div>
              <span class="hide-me"><%= student.house.downcase %></span>
            </td>
            <td><%= student.first_name %></td>
            <td><%= student.last_name %></td>
            <td><%= link_to("View", student_path(student)) %></td>
            <td><%= link_to("Edit", edit_student_path(student)) %></td>
            <td><%= link_to("Delete", student_path(student), method:
                :delete, data: {confirm: "Are you sure you want to delete this student?"} ) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to("Add New", new_student_path(), class: 'btn btn-main') %>
    </div>
  </div>
</div>
