<div class="container">
  <div class="row">
    <div class="col-md-5">
      <img src="<%= image_url('%s_logo.png' % [@student.house.downcase])%>" class="profile-logo">
    </div>
    <div class="col-md-5">
      <h2><%= @student.first_name %> <%= @student.last_name %></h2>
      <h4>Registered For:</h4>
      <ul>
        <li>TBD</li>
      </ul>

      <h4>Past Courses:</h4>
      <ul>
        <% @student.courses.each() do |course|  %>
         <li><%= course.course_name %></li>
        <%end %>
      </ul>
      <form action="addPastCourseToStudent" method="POST">
        <%= hidden_field_tag :student_id, @student.id %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= collection_select @course, :course_id, (Course.all-@student.courses), :id, :course_name %>
        <input type="submit" class="btn btn-main" name="add-previous-course" value="Submit">
      </form>
    </div>
  </div>
</div>
