<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Course Catalog</h2>
      <table class="table sortable">
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col" class="sorttable_nosort">Currently Offered</th>
            <th scope="col" class="sorttable_nosort">Prerequisites</th>
            <th scope="col" class="sorttable_nosort">View</th>
            <th scope="col" class="sorttable_nosort">Edit</th>
            <th scope="col" class="sorttable_nosort">Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @courses.each do |course| %>
          <tr>
            <td><%= course.subject %>-<%= course.section %></td>
            <td><%= course.course_name %></td>
            <td>
              <% if HogwartsClass.where(course: course).present? %>
                <%= "Yes" %>
              <% else %>
                <%= "No" %>
              <% end %>
            </td>
            <td>
              <% if course.requirements.count > 0 %>
                <%= "Yes" %>
              <% else %>
                <%= "No" %>
              <% end %>
            </td>
            <td><%= link_to course_path(course) do %><i class="fas fa-eye"></i><% end %></td>
            <td><%= link_to edit_course_path(course) do %><i class="fas fa-edit"></i><% end %></td>
            <td><%= link_to course_path(course), method: :delete, data:{confirm: "Delete this course?"} do %><i class="fas fa-trash"></i><% end %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to("Add New", new_course_path(), class: 'btn btn-main') %>
    </div>
  </div>
</div>
