<!DOCTYPE html>
<html>
  <head>
    <title>Hogwarts</title>
    <%= csrf_meta_tags %>
    <link rel="apple-touch-icon" sizes="180x180" href="<%=image_url('favicon/apple-touch-icon.png')%>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%=image_url('favicon/favicon-32x32.png')%>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%=image_url('favicon/favicon-16x16.png')%>">
    <link rel="manifest" href="<%= asset_url('favicon/site.webmanifest') %>">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
